table{
    min-width: 40%;
    border: solid lightgray 1px;
}
table th{
    background-color: dimgray;
}
table td{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;

}

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    z-index: 1;
}

.modal-content{
    background-color: white;
    margin: 15% auto;
    width: 13rem;
    padding: 0 15px 15px 15px;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 10px;
}

.modal-content input, .modal-content select{

}

.close{
    float: right;
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

.close:hover{
    color: black;
    cursor: pointer;

}